{% extends '_base.html' %}
{% load humanize %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

    <style>

        .info-box {

            cursor: pointer;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f8f8f8;
        {#box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);#} transition: background-color 0.3s ease;
            box-shadow: inset 0 0 5px rgba(255, 0, 255, 0.3); /* Inset box shadow added */
        }

        .info-box:hover {
            background-color: #e0e0e0;
        }

        p {
            margin: 0;
        {#font-weight:bolder;#} color: #333;
        {#font-size: calc(100% + 0.0vw);#} word-break: break-word;
        }

        @media (min-width: 768px) {
            #logo-container a {
                text-align: center;
                text-decoration: none;
            }

            #logo-container p {
                font-size: 15px;
                margin-top: 20px;
            }
        }
    </style>
    <!-- HOME MAIN  -->
    <section class="simple-head" data-stellar-background-ratio="0.5" id="hme">
        <!-- Particles -->
        <div id="particles-js"></div>
        <div class="position-center-center">
            <div class="container text-center">
                <p>{{ home_description.description|safe }}</p>
                {% if home_description.link %}
                    <a href="{{ home_description.link }}" class="btn">Join Us</a>
                {% endif %}
                {% if home_description.pdf_file %}
                    <a href="{{ home_description.pdf_file.url }}" download class="btn btn-inverse">View White Paper</a>
                {% endif %}
            </div>
        </div>
    </section>

    <!-- Content -->
    <div id="content">


        <!-- Why Choose Us -->
        <section class="why-choose padding-top-150 padding-bottom-150" id="about" style="background-color:#F5F5F5">
            <div class="container">

                <!-- Why Choose Us  ROW-->
                <div class="row">
                    <div class="col-md-7 margin-top-60">

                        <!-- Tittle -->
                        <div class="heading margin-bottom-20">
                            <p>{{ about_info.description|safe }}</p>
                        </div>


                        {#                        <a class="vid-btn margin-top-30 popup-youtube">#}
                        {#                            <video width="50%" height="50%" controls>#}
                        {#                                <source src="{{ about_info.video_file.url }}" type="video/mp4">#}
                        {#                            </video>#}
                        {#                        </a>#}
                    </div>

                    <!-- Image -->
                    <div class="col-md-5 text-right"><img src="{{ about_info.image_file.url }}"
                                                          alt="Why Choose Us Image"></div>
                </div>


                <!-- Services ROW -->
                <div class="row" style="margin-top: 80px;margin-bottom: 80px">
                    <div style="background-color: #ffccff; padding: 20px; border-radius: 10px; text-align: center; max-width: 800px; margin: auto; box-sizing: border-box;">
                        <h2 style="color: #000000; margin-bottom: 30px; font-weight: normal; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 2em;">
                            TOKENOMICS
                        </h2>
                        <p style="font-size: 28px; color: #000000; margin: 10px 0; letter-spacing: 2px;">
                            7,777,777,777 &nbsp;&nbsp;&nbsp; 7F
                        </p>
                        <p style="font-size: 20px; color: #000000; margin: 15px 0; font-weight: lighter;">
                            No Allocations | No Taxes
                        </p>
                        <p style="font-size: 20px; color: #000000; margin: 15px 0; font-weight: lighter;">
                            No Presale | No BS
                        </p>
                    </div>


                </div>

            </div>
        </section>
        <section class="dev-activ text-center padding-top-150 padding-bottom-150" id="activity">
            <div class="main-page-section half_left_layout">
                {#                {% if activity.image_file.url %}#}
                <div class="main-half-layout half_right_layout"><img width="100%" height="100%"
                                                                     src="{{ activity.image_file.url }}"
                                                                     alt=" Image"></div>
                {#                {% endif %}#}
                {#            <img width="50%" height="100%"  src="{{ activity.image_file.url|safe }}" alt="Image">#}


                <!-- Left Content -->
                <div class="main-half-layout-container half_right_layout">
                    <div class="about-us-con">

                        <p> {{ activity.description|safe }} </p>
                        <ul class="count-info row">
                            <li class="col"><span class="counter">{{ activity.A|safe }} </span><span>+</span>
                                <p>{{ activity.B|safe }} </p>
                            </li>
                            {#                            <li class="col"><span class="counter">{{ activity.C|safe }} </span><span>+</span>#}
                            {#                                <p>{{ activity.D|safe }} </p>#}
                            {#                            </li>#}
                        </ul>
                        <a href="{{ home_description.pdf_file.url }}" class="btn">White Paper</a>
                        {#                        <a href="{{ activity.link }}" class="btn btn-inverse">{{ activity.link_description|safe }}</a>#}

                        <p style=" margin-top: 25px; font-size: 25px;  margin-bottom: 15px ">7funds
                            smart contract on polygon chain </p>
                        <div style=" margin-top: 10px; font-size: 17px " class="info-box" onclick="copyToClipboard()">
                            <!-- متن داخل کادر -->
                            <p id="contractAddress">0x8809f892287c96763C9e34B9A7cfeaC816219ff9</p>

                            <!-- لینک با لینک مورد نظر -->
                        </div>

                        {#                        <div id="logo-container"#}
                        {#                             style="display: flex; justify-content: space-around; align-items: center; max-width: 1200px; width: 100%;">#}
                        {#                            <a href="#">#}
                        {#                                <img class="logo" src="{% static 'images/pppp.png' %}"#}
                        {#                                     style="min-width:200px;width: 200px; max-width: 100%; height: auto; margin-top: 100px; margin-right: auto; margin-left: auto;"#}
                        {#                                     alt="Your Logo 2">#}
                        {#                                <p style="text-align: center; margin-top: 20px; font-size: 15px; white-space: nowrap">#}
                        {#                                    Buy on Quickswap </p>#}
                        {#                            </a>#}
                        {#                            <a href="#">#}
                        {#                                <img class="logo" src="{% static 'images/o.png' %}"#}
                        {#                                     style="min-width: 250px; width: 250px; max-width: 100%; height: auto; margin-top: 100px; margin-right: auto; margin-left: auto;"#}
                        {#                                     alt="Your Logo 1">#}
                        {#                                <p style="text-align: center; margin-top: 10px;font-size: 15px; white-space: nowrap">Buy#}
                        {#                                    on UniSwap</p>#}
                        {#                            </a>#}
                        {#                        </div>#}

                        {#                        <div id="logo-container"#}
                        {#                             style="display: flex; justify-content: space-around; align-items: center; max-width: 1200px; width: 100%;">#}
                        {#                            <a href="#">#}
                        {#                                <img class="logo" src="{% static 'images/pppp.png' %}"#}
                        {#                                     style="width: 200px; max-width: 100%; height: auto; margin-top: 30px; margin-right: auto; margin-left: auto;"#}
                        {#                                     alt="Your Logo 2">#}
                        {#                            </a>#}
                        {#                            <a href="#">#}
                        {#                                <img class="logo" src="{% static 'images/o.png' %}"#}
                        {#                                     style="width: 250px; max-width: 100%; height: auto; margin-top: 30px; margin-right: auto; margin-left: auto;"#}
                        {#                                     alt="Your Logo 1">#}
                        {#                            </a>#}
                        {#                        </div>#}


                        {#                        <img src="{% static 'images/pppp.jpg' %}" style="width: 62px; height:62px; padding-top: 0px; "#}
                        {#                             alt="">#}
                        {#                        <img src="{% static 'images/33.png'  %}">#}
                        {#                    </div>#}

                    </div>
                    <div id="logo-container"
                         style=" display: flex; justify-content: space-around; align-items: center; max-width: 1200px; width: 100%;">
                        <a href="your_quickswap_link"
                           style="text-decoration: none; text-align: center; display: flex; flex-direction: column; align-items: center;">
                            <img class="logo" src="{% static 'images/pppp.png' %}"
                                 style=" width: 200px; max-width: 100%; height: auto; margin-top: 50px;"
                                 alt="Your Logo 2">
                            <p style="margin-top: 20px; font-size: 17px; white-space: nowrap;">Quickswap </p>
                            <button style="padding: 10px; background-color: rgb(139,0,139);  rgb(27 25 27); color: white; border: none; border-radius: 5px; margin-top: 10px;">
                                Buy Now
                            </button>
                        </a>

                        <a href="your_uniswap_link"
                           style="text-decoration: none; text-align: center; display: flex; flex-direction: column; align-items: center; ">
                            <img class="logo" src="{% static 'images/d.png' %}"
                                 style=" width: 250px; max-width: 100%; height: auto; margin-top: 50px; "
                                 alt="Your Logo 1">
                            <p style="margin-top: 10px; font-size: 17px; white-space: nowrap; "> UniSwap</p>
                            <button style="padding: 10px; background-color: rgb(139,0,139); color: white; border: none; border-radius: 5px; margin-top: 10px;">
                                Buy Now
                            </button>
                        </a>
                    </div>


                </div>
            </div>
        </section>


        <!-- Road Map -->
        <section class="road-map padding-top-150 padding-bottom-50" id="roadmap">
            <div class="container-fluid">

                <p>{{ activity1_list.description|safe }}</p>
                <!-- Road List -->
                <ul class="edu-list margin-top-50">
                      <li>
                         <span>Phase 1</span>
                            <p>10,000 holder</p>
                            <p>CEX Listing</p>
{#                           <p>{{ activity.description|safe }}</p>#}
                        </li>
                      <li>
                         <span>Phase 2</span>
                            <p>25,000 holder</p>
                            <p>Upgrade to multi chain token</p>
{#                           <p>{{ activity.description|safe }}</p>#}
                        </li>
                      <li>
                         <span>Phase 3</span>
                            <p>75,000 holder</p>
                            <p>Activate cryptocurrency and commodity fund</p>
{#                           <p>{{ activity.description|safe }}</p>#}
                        </li>
                      <li>
                         <span>Phase 4</span>
                            <p>150,000 holder</p>
                            <p>Activate all funds</p>
{#                           <p>{{ activity.description|safe }}</p>#}
                        </li>
{#                    {% for activity in  activity2_list %}#}
{#                        <li>#}
{#                         <span>{{ activity.date }}</span>#}
{#                            <h5>{{ activity.title|safe }}</h5>#}
{#                            <p>{{ activity.description|safe }}</p>#}
{#                           <p>{{ activity.description|safe }}</p>#}
{#                        </li>#}
{#                    {% endfor %}#}
                </ul>
            </div>
        </section>


    </div>
    <!-- Footer -->
    <footer id="contact">

        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6">
                    <h1 class="text-primary mb-4" style="color:deeppink;"><img class="img-fluid me-2"
                                                                               src="img/icon-1.png" alt=""
                                                                               style="width: 45px;">7Funds</h1>
                    <span>Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et sit.</span>
                </div>

                <div class="col-md-6">
                    <div>
                        <h5 class="mb-4" style="font-size:40px;">Powered by <h5 class="mb-4" style="font-size: 52px;">
                            Polygon<img src="{% static 'images/ph.png' %}"
                                        style="width: 70px; /* تعیین عرض تصویر */height: auto;" alt="Your Logo"></h5>
                        </h5>


                    </div>
                    {#                    <p>Clita erat ipsum et lorem et sit, sed stet lorem sit clita.</p>#}
                    {#                    <div class="position-relative">#}
                    {#                        <input class="form-control bg-transparent w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">#}
                    {#                        <button type="button" class="btn btn-primary py-2 px-3 position-absolute top-0 end-0 mt-2 me-2">SignUp</button>#}
                    {#                    </div>#}
                </div>
                <div class="col-lg-3 col-md-6 ">
                    <h5 class="mb-4" style="color:#b88506;">Quick Links</h5>

                    <div class="mb-2" style="white-space: nowrap;">
                        <a class="btn btn-link" href="" style="background: rgba(255,255,255,0); color:black">Contact
                            Us</a>
                    </div>

                    <div class="mb-2" style="white-space: nowrap;">
                        <a class="btn btn-link" href="" style="background: rgba(255,255,255,0); color:black">Our
                            Services</a>
                    </div>

                    <div class="mb-2" style="white-space: nowrap;">
                        <a class="btn btn-link" href="" style="background: rgba(255,255,255,0); color:black">Terms &
                            Condition</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 ">
                    <h5 class="mb-4" style="color:#b88506;">Our Services</h5>
                    <div class="mb-2" style="white-space: nowrap;">
                        <a class="btn btn-link" href="" style="background: rgba(255,255,255,0); color:black">Currency
                            Wallet</a>
                    </div>
                    <div class="mb-2" style="white-space: nowrap;">
                        <a class="btn btn-link" href="" style="background: rgba(255,255,255,0); color:black">Currency
                            Transaction</a>
                    </div>
                    <div class="mb-2" style="white-space: nowrap;">
                        <a class="btn btn-link" href="" style="background: rgba(255,255,255,0); color:black">Token
                            Sale</a>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6">
                    <h5 class="mb-4" style="color:#b88506;">Get In Touch</h5>
                    <div class="mb-2" style="white-space: nowrap;">
                        <a href=""><p style="color:black;"><i
                                class="fa fa-envelope me-3" style="color:black; margin-left: 45px"></i>cooperate@7funds.io
                        </p></a>
                    </div>
                    <div class="mb-2" style="white-space: nowrap;">
                        <a href=""><p style="color:black;"><i
                                class="fa fa-envelope me-3" style="color:black; margin-left: 45px"></i>cooperate@7funds.io
                        </p></a>
                    </div>

                </div>
                <div class="col-lg-3 col-md-6 ">
                    <h5 class="mb-4" style="color:#b88506;">Follow Us</h5>
                    <div class="d-flex">
                        <a class="btn btn-square rounded-circle me-1" href=""
                           style="background: rgba(255,255,255,0); color:black;font-size: 30px; margin-right:1px;"><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square rounded-circle me-1" href=""
                           style="background: rgba(255,255,255,0);color:black; font-size: 30px;  margin-right:1px;"><i
                                class="fab fa-telegram"></i></a>

                    </div>
                </div>
            </div>


    </footer>


    <div class="rights"
         style="background-color:#f0f0f0; color: rebeccapurple; padding: 20px 0; position: relative; box-shadow: inset 0 0 10px rgba(0, 0,0, 0.3);">
        <div class="container" style="display: flex; justify-content: center;">
            <div class="row">
                <div class="col" style="font-size: 20px;font-family: 'Arial', sans-serif;">
                    <p style="color: #b88506">© 7Funds, All Right Reserved.</p>
                </div>

            </div>
        </div>
    </div>



    <!-- اضافه کردن jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        function copyToClipboard() {
            // Get the text content of the paragraph
            var contractAddressText = document.getElementById('contractAddress').innerText;

            // Create a temporary input element
            var tempInput = document.createElement('input');
            tempInput.value = contractAddressText;

            // Append the input element to the document
            document.body.appendChild(tempInput);

            // Select the text inside the input element
            tempInput.select();

            // Execute the copy command
            document.execCommand('copy');

            // Remove the temporary input element
            document.body.removeChild(tempInput);

            // You can add a notification or other feedback here if needed
            alert('Address copied to clipboard: ' + contractAddressText);
        }
    </script>
    {##}
    {#<script>#}
    {#    $(document).ready(function () {#}
    {#        $('form').submit(function (event) {#}
    {#            // اجتناب از ارسال فرم به طور پیش‌فرض#}
    {#            event.preventDefault();#}
    {##}
    {#            // ارسال فرم به صورت AJAX#}
    {#            $.ajax({#}
    {#                type: 'POST',#}
    {#                url: $(this).attr('action'),#}
    {#                data: $(this).serialize(),#}
    {#                success: function (data) {#}
    {#                    // نمایش پیام موفقیت امیز#}
    {#                    alert('Your message has been sent successfully.');#}
    {#                },#}
    {#                error: function (xhr, textStatus, errorThrown) {#}
    {#                    // خطا در درخواست#}
    {#                    console.error('Error:', textStatus, errorThrown);#}
    {#                },#}
    {#                complete: function () {#}
    {#                    // بازگشت به همان صفحه بعد از ارسال فرم#}
    {#                    window.location.reload();#}
    {#                }#}
    {#            });#}
    {#        });#}
    {#    });#}
    {#</script>#}
    {#<script>#}
    {#        function makeTimer() {#}
    {#            // استفاده از متغیرهایی که از تمپلیت به آنها مقدار داده‌اید#}
    {#            var daysElement = $(".days");#}
    {#            var hoursElement = $(".hours");#}
    {#            var minutesElement = $(".minutes");#}
    {#            var secondsElement = $(".seconds");#}
    {##}
    {#            var endTime = new Date({{ ob.date|date:"U" }} * 1000#}
    {#        )#}
    {##}
    {#            endTime = (Date.parse(endTime) / 1000);#}
    {##}
    {#            var now = new Date();#}
    {#            now = (Date.parse(now) / 1000);#}
    {##}
    {#            var timeLeft = endTime - now;#}
    {##}
    {#            var days = Math.floor(timeLeft / 86400);#}
    {#            var hours = Math.floor((timeLeft - (days * 86400)) / 3600);#}
    {#            var minutes = Math.floor((timeLeft - (days * 86400) - (hours * 3600)) / 60);#}
    {#            var seconds = Math.floor((timeLeft - (days * 86400) - (hours * 3600) - (minutes * 60)));#}
    {##}
    {#            // اعمال تغییرات به عناصر HTML#}
    {#            daysElement.html(days);#}
    {#            hoursElement.html(hours);#}
    {#            minutesElement.html(minutes);#}
    {#            secondsElement.html(seconds);#}
    {#        }#}
    {##}
    {#        setInterval(function () {#}
    {#            makeTimer();#}
    {#        }, 1000);#}
    {#    </script>#}

{% endblock %}